ol#clients-list{
    /* list-style-type: none; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* display: table; */
    height: 50vh;
    width: 40%;
    /* text-align: center !important; */
    padding: 2rem 3rem;
    /* background: powderblue; */
    /* border-top: 1px solid gray; */
    overflow-y: scroll;
}

ol#clients-list li{
    /* width: 100%; */
    padding: .3rem .5rem;
    cursor: pointer;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}
ol#clients-list li a{
    font-size: 1.1rem;
}
ol#clients-list li:hover a{
    /* background-color: rgba(0, 0, 0, 0.2); */
    text-decoration: underline;
    color: steelblue !important;
}

ol#clients-list li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
    color: black;
    /* color: white !important; */
}

#client-search{
    padding: .5rem .6rem;
    width: 40%;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
}