ol#clients-list{
    /* list-style-type: none; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

ol#clients-list li{
    /* width: 100%; */
    padding: .3rem .5rem;
    cursor: pointer;
    text-align: left;
    font-family: 'Poppins', sans-serif !important;
}
ol#clients-list li:hover{
    /* background-color: rgba(0, 0, 0, 0.2); */
    text-decoration: underline;
}

ol#clients-list li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
    color: black;
    /* color: white !important; */
}